*{
    margin: 0;
    padding: 0;
}
:root{
    --navcolor:#ff9fdd;
}
body{
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Urbanist", sans-serif;
}
.urban{
    font-family: "Urbanist", sans-serif;
}
.navbutton{
    padding: 10px 20px;
    border:  solid var(--navcolor);
    background-color: white;
    color: var(--navcolor);
}
.navbutton:hover{
color: white;
cursor: pointer;
background-color: #fe54c1;
}
.mx-8{
    margin: 0px 10rem;
}
.buttonhero{
    color: white;
    background-color: #fe54c1;
    border: none;
}
.buttonhero:hover{
    background-color: white;
    color: #fe54c1;
    cursor: pointer;
    border: 2px solid #fe54c1;
}input{
    width: 50%;
}
.grow{
    background-color: #F6FBFF;
}
.foot{
    background-color: #00252E;
}
.icon{
    margin-right: 10px;
}
.mr-20{
    margin-right: 20px;
}

@media only screen and (max-width: 400px){
    .navbutton{
        font-size: 14px !important;
        padding: 5px 8px;
    }
    .logo{
        width: 150px;
    }
    input{
        height: 2rem;
        width: 67%;
        outline: #fe54c1;
        margin: 0px 50px !important;
    }
}